nav,
footer,
main {
    width: 100%;
}

nav {
    height: 75px;
}

footer {
    height: 100px;
    padding: 10px;
    line-height: 30px;
}

main {
    height: calc(100% - 175px);
}

#app {
    width: 70%;
    padding: 15px;
    overflow-y: auto;
    text-align: justify;
}

#app p {
    white-space: pre-line;
}

.app-chooser {
    width: 30%;
    float: left;
    text-align: center;
}

#app,
.app-chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

button {
    width: 75%;
    margin: 5px;
    height: 3em;
}
