* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav,
footer,
main {
    width: 100%;
}

nav {
    height: 50px;
    text-align: center;
    font-size: x-large;
    letter-spacing: 10px;
    display: grid;
    align-items: center;
}

footer {
    height: 100px;
    padding: 10px;
    line-height: 30px;
}

main {
    height: calc(100% - 150px);
}

#app {
    width: 70%;
    padding: 15px;
    overflow-y: auto;
    white-space: pre-line;
    text-align: justify;
}

.app-chooser {
    width: 30%;
    float: left;
    text-align: center;
}

#app,
.app-chooser {
    height: 100%;
    display: inline-block;
    border: 1px solid black;
}

.nodisplay {
    display: none;
}

button {
    width: 60%;
    margin-top: 10px;
    height: 3em;
    border-radius: 10px;
    border-width: 1px;
    background-color: transparent;
}

button:hover {
    background-color: rgba(200, 200, 200, 0.5);
}
