.progress-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar {
    width: 100%;
    height: 30px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    margin: 10px;
}

.progress-fill {
    height: 100%;
    background-color: #0275d8;
}

#start-progress {
    width: 4rem;
    margin-top: 0.75rem;
}
