.scroll-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scroll-controls {
    height: 50px;
    display: flex;
}

.scroll-controls button {
    margin-top: 0;
}

.scroll-text {
    height: calc(100% - 50px);
    overflow-y: auto;
    white-space: pre-wrap;
}
