.scroll-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scroll-controls {
    height: 60px;
    display: flex;
}

.scroll-controls button {
    margin-top: 0;
}

.scroll-controls .active {
    background-color: #dbdbdc;
    border-color: #dbdbdc;
}

.scroll-text {
    height: calc(100% - 60px);
    overflow-y: auto;
    white-space: pre-wrap;
}
